.App {
  text-align: left;
  background-color: #282c34;
  color: #dddddd;
  height: 100vh;
}


.course-grade {
  border-top: 1px solid #858894;
  /* padding: 25px; */
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  padding-right: 1em;

}

.course-grade span {

}
